<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <ul>
      <% contacts.forEach(function(contact) { %>
        <li>
		<strong><%= contact.fname %> <%= contact.lname%></strong>
          Email Address: <%= contact.email %>,
	  at telephone <%= contact.phone %>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
