<!DOCTYPE html>
<html lang="en">
<head>
<style>
.glyph-icon svc {
    width: 16px;
    height: 16px;
}
</style>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <form method="post" action="contact_post">
        <div class="form-group">
            <label for="fnameinp" class="col-2">First Name</label>
                <input type="text" name="fname" class="form-control-sm col-3" id="fnameinp">
        </div>
        <div class="form-group">
            <label for="lnameinp" class="col-2">Last Name</label>
            <input type="text" name="lname" class="form-control-sm col-3" id="lnameinp">
        </div>
        <div class="form-group">
            <label for="email" class="col-2">Email Address</label>
            <input type="text" name="email" id="email" class="form-control-sm col-3">
        </div>
        <div class="form-group">
            <label for="phone" class="col-2">Telephone</label>
            <input type="text" class="form-control-sm col-3" name="phone" id="phone" >
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <ul>
      <% contacts.forEach(function(contact) { %>
      <li><a href="/edit/<%= contact.rowid %>/"<span class="material-symbols-outlined">edit</span></a>
		<strong><%= contact.fname %> <%= contact.lname%></strong>
          Email Address: <%= contact.email %>,
	  at telephone <%= contact.phone %>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
