<!DOCTYPE html>
<html lang="en">
<head>
<style>
.glyph-icon svc {
    width: 16px;
    height: 16px;
}
</style>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron pt-5" style="width: 350px;">
      <h2>Files in User Directory</h2>
      <h3><%= fList %></h3>
  </div>
  <div><%= fList %></div>
  <div><%- content %></div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
