<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
      <% pics.forEach(function(pic) { %> 
      <a href='/<%= pic %>' target="_blank"><img src="/<%= pic %>" width=150 border = 2 style="margin-right: 15px; margin-top: 25px;"></a>
      <% }); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
